<div class="container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form [formGroup]="createAccountForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter you email</mat-label>
                <!-- <input type="email" matInput /> -->
                <input matInput formControlName="email"/>
                <mat-error *ngIf="createAccountForm.controls['email'].invalid">
                    {{createAccountForm.controls['email'].hasError('required')?'Email is required' : 'Please enter a vaild email'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your username</mat-label>
                <!-- <input type="email" matInput /> -->
                <input matInput formControlName="username"/>
                <mat-error *ngIf="createAccountForm.controls['username'].invalid">
                    {{createAccountForm.controls['username'].hasError('required')?'User Name is required' : 'User Name should be atleast 10 characters'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter you password</mat-label>
                <!-- <input type="password" matInput /> -->
                <input type="password" matInput formControlName="password"/>
                <mat-error *ngIf="createAccountForm.controls['password'].invalid">
                    {{createAccountForm.controls['password'].hasError('required')?'Password is required':'Password should be atleast 6 characters'}}
                </mat-error>
            </mat-form-field>
        </form>
        <!-- {{ createAccountForm.value | json }} -->
        <div class="buttons-container">
            <!-- <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()" class="login-button"> -->
            <button mat-raised-button [disabled]="createAccountForm.invalid" (click)="create()" class="login-button">    
                Create Account
            </button>
            <p>OR</p>
            <button routerLink="/login" mat-raised-button class="crtact-button">Login</button>
            <!-- <button routerLink="/create-account" mat-button>Create account</button> -->
        </div>
    </div>
</div>